body{
  margin:0;
  font-family:system-ui;
  background:#0f1115;
  color:#eaeaea;
}

.app{
  padding:12px;
}

table{
  border-collapse:collapse;
  width:100%;
}

th, td{
  border:1px solid #2a3142;
  text-align:center;
  padding:6px;
  font-size:12px;
}

th{
  background:#171a21;
  position:sticky;
  top:0;
}

td{
  background:#0f1115;
}

/* checkbox 放大 */
input[type="checkbox"]{
  transform:scale(1.2);
  cursor:pointer;
}
